# スプレッドシートのCSV公開URLを .env.local にコピーして設定してください
NEXT_PUBLIC_SHITTOKU_CSV_URL=
NEXT_PUBLIC_CBL_CSV_URL=
NEXT_PUBLIC_CBED_CSV_URL=
NEXT_PUBLIC_LAUNCHES_CSV_URL=
NEXT_PUBLIC_CBMD_CSV_URL=
NEXT_PUBLIC_CMROCKETS_CSV_URL=
NEXT_PUBLIC_CMCONSTELLATION_CSV_URL=
NEXT_PUBLIC_TYPE_GAS_URL=
